.dashboard {
  display: flex;
  gap: 2rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .dashboard {
    flex-direction: column;
  }
}

table {
  overflow-wrap:anywhere;
}